<div class="container" [dir]="'dir' | translate">
  <nav class="navbar navbar-light bg-dark mb-2">
    <select
      name="lang"
      id=""
      (change)="translateLang($event)"
      class="lanSelect"
    >
      <option value="en">English</option>
      <option value="ar">Arabic</option>
    </select>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mt-2">
        <app-user-profile-data></app-user-profile-data>
      </div>
      <div class="col-lg-6 col-12 mt-2">
        <app-reservation-details></app-reservation-details>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-schedule></app-schedule>
      </div>
    </div>
  </div>
</div>
